<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mostrar Preinscripción</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/js/libs/jquery-3.3.1.min.js}" />
    <script type="text/javascript" th:src="@{/js/formularioPreinscripcion.js}" />
</head>
<body>
<h1> Formulario niveles </h1>

<label for="inputCodigo">Codigo:</label>
<input type="text" id="inputCodigo"/>
<label for="inputNombre">Nombre: </label>
<input type="text" id="inputNombre"/>
<label for="inputIdioma">Idioma:</label>
<input type="text" id="inputIdioma"/>

<button type="button" id="btnAgregarn">Agregar Nivel</button>
</body>
</html>