<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mostrar Preinscripción</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/js/libs/jquery-3.3.1.min.js}" />
    <script type="text/javascript" th:src="@{/js/formularioPreinscripcion.js}" />
</head>
<body>
<h1> Formulario preinscripcion </h1>

<label for="inputTipoId">Tipo Documento</label>
<input type="text" id="inputTipoId"/>
<label for="inputDocumento">Numero Documento</label>
<input type="text" id="inputDocumento"/>
<label for="inputNombres">Nombres</label>
<input type="text" id="inputNombres"/>
<label for="inputApellidos">Apellidos</label>
<input type="text" id="inputApellidos"/>
<label for="inputTelefono">Telefono</label>
<input type="text" id="inputTelefono"/>

<button type="button" id="btnIncribir">Incribir</button>



</body>
</html>